h3 {
    margin-top: 20px;
}

footer {
    small {
        color: #252830;
        display: inline-block;
        margin-bottom: 5px;
    }
}

.btn-fixed-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

    &,
    button {
        margin: 0;
    }
}
